<div class="inmodal" ng-show="car">
    <div class="modal-header">
        <i class="fa fa-car modal-icon"></i>
        <h4 class="modal-title">{{car.brand}} {{car.model}} {{car.color}}</h4>
        <small class="font-bold">{{car.cod | uppercase}}</small>
    </div>
    <div class="modal-body">
        <div class="full-height-scroll" full-scroll>
            <ul class="list-group clear-list">
                <li class="list-group-item fist-item">
                    Proprietário
                    <span class="pull-right"> {{car.customer.name}} </span>
                </li>
                <li class="list-group-item">
                    Telefone
                    <span class="pull-right"> {{car.customer.phone}} </span>
                </li>
                <li class="list-group-item">
                    Marca
                    <span class="pull-right"> {{car.brand}} </span>
                </li>
                <li class="list-group-item">
                    Modelo
                    <span class="pull-right"> {{car.model}} </span>
                </li>
                <li class="list-group-item">
                    Cor
                    <span class="pull-right"> {{car.color}} </span>
                </li>
                <li class="list-group-item">
                    Ano
                    <span class="pull-right"> {{car.year}} </span>
                </li>
                <li class="list-group-item">
                    Placa
                    <span class="pull-right"> {{car.cod | uppercase}} </span>
                </li>
                <li class="list-group-item">
                    Cadastrado em
                    <span class="pull-right"> {{car.created_at | date}} </span>
                </li>
                <li class="list-group-item">
                    Última alteração
                    <span class="pull-right"> {{car.updated_at | date}} </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="closeModal()">Fechar</button>
        <a ng-click="destroy(current_index)" class="btn btn-warning">Excluír</a>  
        <a ng-click="edit(current_index)" class="btn btn-success">Editar</a>
    </div>
</div>

<div class="inmodal" ng-show="!car">
    <form class="form-horizontal" ng-submit="car_form.id ? update() : create()">
        <div class="modal-header">
            <i class="fa fa-car modal-icon"></i>
            <h2 ng-hide="car_form.id">Cadastre um novo carro</h2>
            <h2 ng-show="car_form.id">Editando dados do carro</h2>
            <small class="font-bold">* dados obrigatórios</small>
        </div>
        <div class="modal-body">
            <div ng-hide="car_form.customer_attributes">
                <div class="form-group"><label class="col-lg-2 control-label">Proprietário</label>
                    <div class="col-lg-10">
                        <ui-select ng-model="car_form.customer_id" theme="bootstrap">
                            <ui-select-match placeholder="Selecione o proprietário do carro">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item.id as item in customers | filter: $select.search">
                                <div ng-bind-html="item.name">{{item.name}}</div>
                            </ui-select-choices>
                        </ui-select>
                        <small class="help-block m-b-none text-danger" ng-repeat="error in car_form.errors.car_id">{{error}}<br/></small>
                        <br />
                        <div class="text-right">
                            <a class="label label-primary" ng-click="car_form.customer_attributes = {}; car_form.customer_id = undefined">Cadastrar proprietário</a>
                        </div>    
                    </div>
                </div>
            </div>
            <div ng-show="car_form.customer_attributes">
                <h5 class="text-center">Dados do proprietário</h5>
                <div class="form-group"><label class="col-lg-2 control-label">Nome*</label>
                    <div class="col-lg-10">
                        <input type="text" placeholder="Nome" class="form-control" ng-model="car_form.customer_attributes.name">
                        <small class="help-block m-b-none text-danger" ng-repeat="error in car_form.customer.errors.name">{{error}}<br/></small>
                    </div>
                </div>
                <div class="form-group"><label class="col-lg-2 control-label">Telefone*</label>
                    <div class="col-lg-10">
                        <input type="text" placeholder="Telefone" class="form-control" ng-model="car_form.customer_attributes.phone" data-mask="(99) 9999-9999?9">
                        <small class="help-block m-b-none text-danger" ng-repeat="error in car_form.customer.errors.phone">{{error}}<br/></small>
                    </div>
                </div>
                <div class="form-group"><label class="col-lg-2 control-label">E-mail</label>
                    <div class="col-lg-10">
                        <input type="email" placeholder="E-mail" class="form-control" ng-model="car_form.customer_attributes.email">
                        <small class="help-block m-b-none text-danger" ng-repeat="error in car_form.customer.errors.email">{{error}}<br/></small>
                    </div>
                </div>
                <div class="form-group"><label class="col-lg-2 control-label">Endereço</label>
                    <div class="col-lg-10">
                        <input type="text" placeholder="Endereço" class="form-control" ng-model="car_form.customer_attributes.address">
                        <small class="help-block m-b-none text-danger" ng-repeat="error in car_form.customer.errors.address">{{error}}<br/></small>
                    </div>
                </div>

            </div>  
            <h5 class="text-center" ng-show="car_form.customer_attributes">Dados do carro</h5>
            <div class="form-group"><label class="col-lg-2 control-label">Marca*</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" ng-model="car_form.brand" required="">
                    <small class="help-block m-b-none">Ex: Fiat<br/></small>
                    <small class="help-block m-b-none text-danger" ng-repeat="error in car_form.errors.brand">{{error}}<br/></small>
                </div>
            </div>
            <div class="form-group"><label class="col-lg-2 control-label">Modelo*</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" ng-model="car_form.model" required="">
                    <small class="help-block m-b-none">Ex: Uno<br/></small>
                    <small class="help-block m-b-none text-danger" ng-repeat="error in car_form.errors.model">{{error}}<br/></small>
                </div>
            </div>
            <div class="form-group"><label class="col-lg-2 control-label">Cor*</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" ng-model="car_form.color" required="">
                    <small class="help-block m-b-none text-danger" ng-repeat="error in car_form.errors.color">{{error}}<br/></small>
                </div>
            </div>
            <div class="form-group"><label class="col-lg-2 control-label">Placa</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" ng-model="car_form.cod" data-mask="aaa-9999">
                    <small class="help-block m-b-none">Ex: AAA-9999<br/></small>
                    <small class="help-block m-b-none text-danger" ng-repeat="error in car_form.errors.cod">{{error}}<br/></small>
                </div>
            </div>
            <div class="form-group"><label class="col-lg-2 control-label">Ano</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" ng-model="car_form.year" data-mask="99/99">
                    <small class="help-block m-b-none">Ex: 14/15<br/></small>
                    <small class="help-block m-b-none text-danger" ng-repeat="error in car_form.errors.year">{{error}}<br/></small>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="closeModal()">Fechar</button>
            <a ng-show="car_form.id" ng-click="destroy(current_index)" class="btn btn-warning">Excluír</a>
            <button class="btn btn-primary" type="submit">Salvar</button>
        </div>
    </form> 
</div>
